.App {
  text-align: center;
  color: white;
  width: 100vw;
  /* height: 100vh; */
  margin: auto;
  background-color: rgb(73, 73, 73);
  text-shadow: 1px 1px 5px rgb(39, 39, 39);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1rem

}

.main-app-body {
  position: relative;
  top: 125px;
  padding-bottom: 150px
}


.nav-item {
  display: inline-block;
  margin: 5px 20px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-shadow: 1px 2px 4px rgb(135, 135, 135);
  outline-color: none
}

a:link {
  text-decoration: none;

}

a:hover {
  color: rgb(199, 75, 75);
  text-decoration: underline;
}

p, h4 {
  text-align: justify;
  padding: 15px
}

li {
  text-align: center;
}

h5 {
  font-size: .75em;
}

td {
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid black
}

tr:nth-child(odd) {
  background-color: white;
  color: black
}

tr:nth-child(even) {
  background-color: rgb(36, 36, 36)
}

/* /////////////////////////////////// header ////////////////////////////////////////////// */
.header-body {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 125px
}

.header {
  padding: 12px 10px;
  margin: auto;
  
}

.header-body {
  border-bottom: 1px solid white;
  background-color: rgb(36, 36, 36);
  box-shadow: 1px 2px 5px rgb(136, 42, 42)
}

/* ////////////////////////////////// footer ///////////////////////////////////////// */



/* ////////////////////////////////// landing page ///////////////////////////////////////// */

.landing-page> p {
  padding: 30px;
  text-align: center;
}

.make-appt, .make-appt-link, .services-landing {
  display: inline-block;
  /* border: 1px solid white; */
  padding: 15px
}

.about-us-body {
  margin: 15px 20px;
  text-align: -webkit-auto;
}

.footer-body {
  border-top: 1px solid white;
  background-color: rgb(36, 36, 36);
  padding-bottom: 75px;
  margin-top: 80px
}



/* ////////////////////////////////// disclaimer ///////////////////////////////////////// */


/* ////////////////////////////////// services ///////////////////////////////////////// */

.service-info-body {
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  text-align: justify;
  margin: 3px;
  padding: 0;
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
  vertical-align: top
}

.service-info-body {
    width: 23%
}

#service-header {
  padding: 20px
}

#detail-cost {
  font-size: 2em
}

.service-pricing {
  background-color: rgb(36, 36, 36)
}

.service-level {
  background-color: rgb(199, 75, 75);
  border-radius: 3px;
  padding: 20px;
  text-align: justify
}

.service-info {
  background-color: white;
  color: black;
  font-size: .75em;
  border-bottom: 1px solid rgb(135, 135, 135);
  padding: 15px
}

.service-detail, .service-pricing-number {
  padding: 15px;
  font-size: .8em;
  text-align: justify;
}

.service-appt {
  background-color: rgb(199, 75, 75);
  border-radius: 3px;
  width: 100%;
  font-size: .8em;
  padding: 0;
  text-align: center;
}

.table-note {
  margin: 20px
}

.custom-work {
  margin: 15px;
  border-bottom: 1px solid white;
}

.service-info> h5 {
  border-bottom: 1px solid rgb(73, 73, 73);
  padding: 5px
}

/* ////////////////////////////////// about us ///////////////////////////////////////// */

.about-us-header {
  padding: 20px
}

/* ////////////////////////////////// conact ///////////////////////////////////////// */

.call, .email, .availability {
  border-bottom: 1px solid rgb(36, 36, 36)
}

.contact-header {
  padding: 20px
}

.contact-options {
  padding: 20px
}

.user-input {
  padding: 10px 15px;
  
}