.App {
  text-align: center;
  color: white;
  width: 100vw;
  height: 100%;
  margin: auto;
  background-color: rgb(73, 73, 73);
  text-shadow: 1px 1px 1px black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem

}

.main-app-body {
  position: relative;
  top: 95px;
  padding-bottom: 150px
}


.nav-item {
  display: inline-block;
  background-color: rgb(36, 36, 36)
}


li {
  list-style-type: none;
  text-align: center;
}

a {
  color: white;
  /* text-shadow: 1px 2px 4px rgb(135, 135, 135); */
  outline-color: none
}

a:link {
  text-decoration: none;

}

a:hover {
  color: rgb(255, 75, 75);
  text-decoration: underline;
}

input:hover {
  cursor: pointer
}

.navbar-nav .nav-link:hover {
  color: rgba(255,75,75);
}

p, h4 {
  text-align: justify;
  padding: 15px
}

h5 {
  font-size: .75em;
}

td {
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid black
}

tr:nth-child(odd) {
  background-color: white;
  color: black
}

tr:nth-child(even) {
  background-color: rgb(36, 36, 36)
}

.nav-link, .disclaimer-link {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn, .btn-outline-secondary {
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
  color: white;
  background-color: #90b5c5;
  outline: none
}

.btn-outline-secondary:hover {
  background-color: #505d63;
}

.btn-secondary, .submit-button {
  border-radius: 1px;
  color: #fff;
  font-size: .9em;
  background-color: rgb(199, 75, 75);
  border-color: rgb(199, 75, 75);
  outline: none;
  width: 175px;
  height: 30px
}

.btn-secondary:hover {
  color: #fff;
  background-color: rgb(159, 44, 44);
  border-color: rgb(120, 14, 14);
}

.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: rgb(159, 44, 44);
  border-color: rgb(120, 14, 14);
}

.btn-secondary:not(:disabled):not(.disabled):active {
   color: white;
   background-color: black;
   border-color: black
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn-danger {
  background-color: rgb(199, 75, 75)
}
/* /////////////////////////////////// header ////////////////////////////////////////////// */

#navbarContent {
  position: fixed;
  top: 30px;
  background-color: rgb(36, 36, 36);
  width: 98%;
  /* -webkit-animation-name: nav;
  animation-name: nav;
  -webkit-animation-duration: 0.25ms;
  animation-duration: 0.25ms; */
  /* transition: 0.3s; */
  left: 2px;
}

.fixed-top {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0;
  z-index: 1030;
  width: 100%;
  /* padding: 30px; */
}

.header-body {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 85px
}

.header {
  padding-top: 12px;
  margin: auto;
  font-size: 1.5rem
  
}

.header-body {
  /* border-bottom: 1px solid white; */
  background-color: rgb(36, 36, 36);
  /* box-shadow: 0 2px 7px rgb(136, 42, 42), 0 4px 3px rgb(36, 36, 36) */
}

.navbar-dark .navbar-nav .nav-link {
  color: white
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  outline: none;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(39,39,39);
  border-radius: 3px;
}

.navbar-nav .nav-link {
  padding: 10px;
}

.navbar-nav,  .nav-fill, .w-100, .align-items-start {
  padding: 5px
}

.overlay {
  position: fixed;
  width: 100%; 
  height: 200%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50,50,50, 0); 
  z-index: 0;
}


/* ////////////////////////////////// landing page ///////////////////////////////////////// */

.landing-page> p {
  padding: 30px;
  text-align: center;
}

.landing-image {
  height: 500
}

.landing-image > img {
  /* height: 425px;
  width: 1000px; */
  margin: 15px 15px;
  width: 80vw;
  box-shadow: 2px 3px 5px rgb(24, 24, 24);
}

.services-image > img {
  margin-top: 15px;
  width: 60vw;
  box-shadow: 2px 3px 5px rgb(24, 24, 24);
}

.make-appt, .make-appt-link, .services-landing {
  display: inline-block;
  /* border: 1px solid white; */
  padding: 15px
}

.about-us-body {
  margin: 15px 20px;
  text-align: -webkit-auto;
}

.vehicles-serviced, .about, .mission-statement, .appt, .why-choose {
  box-shadow: 0px 0px 17px black;
  padding-top: 15px;
  margin-top: 15px;
  background-color: #81959e;
  border-radius: 2px
}

.make-appt-link {
  text-shadow: 1px 1px 1px black
}

.make-appt-link:hover {
  color: black;
  text-shadow: 1px 1px 1px white
}

.disclaimer-landing {
  margin-top: 15px
}

/* ////////////////////////////////// disclaimer ///////////////////////////////////////// */


/* ////////////////////////////////// services ///////////////////////////////////////// */

.service-info-body {
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  text-align: justify;
  margin: 5px;
  padding: 0;
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
  vertical-align: top;
  font-size: 1rem;
  height: 100%;
}

.kn-item_label__label___2fJ5p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 14px;
  white-space: nowrap;
  color: black;
}

#service-header {
  padding: 15px
}

#detail-cost {
  font-size: 2em
}

.service-pricing {
  background-color: rgb(36, 36, 36)
}

.service-level {
  background-color: rgb(199, 75, 75);
  border-radius: 2px;
  padding: 20px;
}

.service-info {
  background-color: white;
  color: black;
  font-size: .75em;
  border-bottom: 1px solid rgb(135, 135, 135);
  padding: 15px
}

.service-detail, .service-pricing-number {
  padding: 15px;
  font-size: .8em;
  text-align: justify;
}

.service-appt {
  background-color: rgb(199, 75, 75);
  border-radius: 2px;
  width: 100%;
  font-size: .8em;
  padding: 0;
  text-align: center;
}

.table-note {
  margin: 20px
}

.custom-work {
  margin: 15px;
  border-bottom: 1px solid white;
}

.service-info> h5 {
  border-bottom: 1px solid rgb(73, 73, 73);
  padding: 5px
}

.services-landing {
  margin: 0
}

.service-list {
  width: 97%;
  margin: auto
}

/* ////////////////////////////////// about us ///////////////////////////////////////// */

.about-us-header {
  padding: 20px;
  margin: 0
}

.about-us-body {
  margin: 0 20px;
}

.about-img > img {
  margin: 15px 65px;
  width: 60vw;
  box-shadow: 2px 3px 5px rgb(24, 24, 24);
}

.statement {
  margin-top: 15px
}

/* ////////////////////////////////// contact ///////////////////////////////////////// */

.call, .email, .availability {
  border-bottom: 1px solid rgb(36, 36, 36);
  padding-top: 15px
}

.contact-header {
  padding: 15px
}

.contact-options {
  padding: 20px;
  border-top: 1px solid white
}

.user-input {
  padding: 10px 15px;
  
}

textarea {
  height: 150px;
  width: 350px;
}

textarea, input {
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
  outline: none;
  border-radius: 2px
}

.contact-form {
  margin-left: 20px;
  padding-bottom: 15px
}

ul {
  padding: 0
}

.contact-message {
  padding-top: 20px
}

/* ////////////////////////////////// gallery ///////////////////////////////////////// */


#gallery-header {
  padding-top: 15px;
  margin: 0px;
}

img {
  box-shadow: 3px 3px 5px rgb(24, 24, 24);
}

/* ////////////////////////////////// appointments ///////////////////////////////////////// */

.react-calendar__tile:focus {
  background-color: rgb(199, 75, 75);
  color: white
}

.appointments {
  padding: 15px
}

.client-info, .car-info, .extraServices, .appointment-time {
  padding: 0
}
.extraServices, .schedule, .appointment-time {
  margin: 0
}

.calendar {
  margin-bottom: 0;
  padding-left: 0
}

.appointment-time {
  margin-top: 25px
}

.react-calendar {
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
}

.contact-time {
  padding-top: 20px;
}

.text-area {
  padding: 15px;
}

textarea {
  width: 230px
}

.schedule {
  padding-top: 15px;
}

.car-info, .client-info {
  border-bottom: 1px solid white;
  padding: 15px 
}

.dropdown, .schedule, .servicesBody {
  padding: 0
}

.react-calendar {
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px rgb(24, 24, 24);
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
  background-color: white;
  color: black;
  height: 260px
}

.info-titles {
  margin: 0;
  padding: 0
}

.form-submit {
  margin-top: 25px;
  padding-left: 29px
}

.react-calendar__tile:active {
  color: white;
  background-color: rgb(159, 44, 44);
  outline: none
}

#contact-submit, #appointment-submit {
  width: 100px;
  background-color: rgb(199, 75, 75);
  box-shadow: 2px 2px 3px black;
  color: white;
  border: none
}

#appointment-submit:hover {
  color: #fff;
  background-color: rgb(159, 44, 44);
}

#appointment-submit:active {
  background-color: black
}

#contact-submit:hover {
  background-color: rgb(159, 44, 44);
  color: white
}

/* ////////////////////////////////// footer ///////////////////////////////////////// */

.footer-body {
  background-color: rgb(36, 36, 36);
  padding-bottom: 75px;
  margin-top: 80px;
  height: 85px;
  padding-top: 20px
}

/* ////////////////////////////// media query ///////////////////////////////// */

@media (min-width: 576px) {

  .service-info-body {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 40%;
    };


  }



@media (min-width: 768px) {

.service-info-body {
    
    max-width: 23%;
  }

}

@media (min-width: 768px) {

  .overlay {
    display: none
  };

 
}

@media (min-width: 768px) {

  .offset-md-3 {
      margin-left: 0;
  }

}


/* @media (min-width: 576px) {
.service-info-body {
    
    max-width: 23%;
  }
} */

/* @media (max-width: 575px) {
  .service-info-body {
    max-width: 97%
  }
} */

