.App {
  text-align: center;
  color: white;
  width: 100vw;
  /* height: 100vh; */
  margin: auto;
  background-color: rgb(73, 73, 73);
  text-shadow: 1px 1px 5px rgb(39, 39, 39);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1rem

}

.nav-item {
  display: inline-block;
  margin: 10px 30px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-shadow: 1px 2px 4px rgb(135, 135, 135);
  outline-color: none
}

a:link {
  text-decoration: none;

}

a:hover {
  color: rgb(199, 75, 75);
  text-decoration: underline;
}

p, h4 {
  text-align: justify;
  padding: 15px
}

li {
  text-align: center;
}

h5 {
  font-size: .75em;
}
/* /////////////////////////////////// header ////////////////////////////////////////////// */
.header-body {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header {
  padding: 15px;
  margin: auto;
  
}

.header-body {
  border-bottom: 1px solid white;
  background-color: rgb(36, 36, 36);
  box-shadow: 1px 2px 2px rgb(136, 42, 42)
}

/* ////////////////////////////////// landing page ///////////////////////////////////////// */

.landing-page> p {
  padding: 30px;
  text-align: center;
}

.make-appt, .make-appt-link, .services-landing {
  display: inline-block;
  /* border: 1px solid white; */
  padding: 15px
}

.about-us-body {
  margin: 15px 20px;
  text-align: -webkit-auto;
}

.footer-body {
  border-top: 1px solid white;
  background-color: rgb(36, 36, 36);
  padding-bottom: 20px;
}

/* ////////////////////////////////// disclaimer ///////////////////////////////////////// */


/* ////////////////////////////////// services ///////////////////////////////////////// */

.service-info-body {
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  text-align: justify;
  margin: 3px;
  padding: 0;
  box-shadow: 1px 1px 5px rgb(36, 36, 36)
}

.service-info-body:hover {
    height:110%;
    width: 110%
}

.service-level, .service-appt {
  background-color: rgb(199, 75, 75);
  border-radius: 3px;
  padding: 20px;
  text-align: justify
}

.service-info {
  background-color: white;
  color: black;
  font-size: .75em;
  border-bottom: 1px solid rgb(135, 135, 135);
  padding: 15px
}

.service-detail, .service-pricing-number {
  padding: 15px;
  text-align: justify;
}


